[Unit]
Description=able_display Service
After=network.target
StartLimitIntervalSec=10

[Service]
User=pi
ExecStart=/home/pi/able-display/able_display
Restart=on-failure

[Install]
WantedBy=multi-user.target
